@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic);
.value-view {
    font-size: 26px !important;
    color: #fff;
    height: 60px !important;
    text-align: center;
    padding: 19px;
}
.meter-refresh-warning {
    display: none;
    position: absolute;
    right: 22px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
    background: rgba(0,0,0,0.7);
    padding: 6px 9px;
    top: 9px;
    border-radius: 4px;
}
.panel-title:hover {
    z-index: 7;
    position: relative;
    background: rgba(0,0,0,.7);
    padding: 8px;
    margin: -8px;
    border-radius: 4px;
}
.meter-refresh-warning .warning {
    animation: blinker 1350ms linear infinite;
}
.blinker {
    animation: blinker 1350ms linear infinite;
}
@keyframes blinker {
    50% { opacity: 0.3; }
}
@keyframes half-blinker {
    50% { opacity: 0.6; }
}
.meter:hover .meter-refresh-warning {
    display: block;
}
.health-indicator {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 8px !important;
    height: 8px !important;
    margin: 0 24px -1px 2px !important;
}
.health-indicator:after {
    content: '';
    border: 1px solid;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    position: absolute;
    top: -10px;
    right: -10px;
    -webkit-animation: pulsate ease-out infinite;
    animation: pulsate ease-out infinite;
    opacity: 0.0;
}
.health-indicator.healthy:after {
    border-color: #72ab57;
}
.health-indicator.unhealthy:after {
    border-color: #e85656;
}
.health-indicator.duration-4:after {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}
.health-indicator.duration-5:after {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}
.health-indicator.duration-6:after {
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
}
.health-indicator.duration-7:after {
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
}
body #toast-container .toast {
    -moz-box-shadow: 0 0 12px #000;
    -webkit-box-shadow: 0 0 12px #000;
    box-shadow: 0 0 12px #000;
    opacity: 0.9;
    transition: opacity 300ms ease;
}
.field-wrapper {
    position: relative;
}
.field-wrapper i {
    display: none;
}
.has-error .field-wrapper i {
    display: block;
}
.edit-avatar {
    position: relative;
    display: inline-block;
    padding-top: 11px;
}
.edit-avatar .bg {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 0;
    transition: background-color 150ms ease;
}
.edit-avatar img {
    width: 200px;
    position: relative;
    z-index: 2;
    transition: opacity 75ms ease;
}
.edit-avatar .desc {
    text-align: center;
    position: relative;
    z-index: 3;
    font-size: 15px;
    margin: 10px;
}
.profile-toggle-link {
    position: relative;
}
.profile-toggle-link .bg {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: -2px;
}
.profile-toggle-link img {
    position: relative;
    z-index: 2;
    width: 45px;
    height: 45px;
}
option {
    background: #2e2e2c;
}
.edit-page .jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl,
.edit-page .jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl {
    width: 14px;
    height: 60px;
    line-height: 60px;
    background: none;
    display: inline-block;
    font-family: 'FontAwesome', serif;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}
.edit-page .jstree-default .jstree-icon:empty {
    width: 14px;
    height: 60px;
}
.edit-page .jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl:before {
    content: "\f107";
    line-height: 60px;
}
.edit-page .jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl:before {
    content: "\f105";
    line-height: 60px;
}
.edit-page .jstree-default .jstree-anchor {
    line-height: 60px;
    padding: 0 10px;
    height: 60px;
    width: 100%;
}
.edit-page .jstree-node, .jstree-children, .jstree-container-ul {
    overflow: hidden;
}
.edit-page .jstree-default .jstree-context {
    background-color: rgba(0, 0, 0, 0.15) !important;
}
.tree-icon {
    background-color: rgba(255, 255, 255, 0.43) !important;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    width: 26px !important;
    height: 26px !important;
    margin: 17px 7px 17px 0!important;
    line-height: 26px !important;
}
.pending-feedback {
    animation: spinner 4s cubic-bezier(.75,0,.18,1) infinite;
}
@keyframes spinner {
    50% {
        transform: rotate(720deg);
    }
}
.form-control-feedback {
    transition: color 300ms ease;
}
.help-block {
    color: #ffffff !important;
}
@media (min-width: 992px) {
    .md-no-gutter-right {
        padding-right: 0;
    }
}
.top-margin {
    margin-top: 10px;
}
.vertical-button {
    margin: 10px 0;
}
.validation-group {
    border-radius: 6px;
    border-top: none !important;
    border-bottom: none !important;
    padding: 20px;
    margin: 5px 0;
}
.has-success .validation-group {
    border: 1px solid #a6c733;
}
.has-error .validation-group {
    border: 1px solid #e85656;
}
.validation-group .btn-list li {
    margin-bottom: 0;
}
.modal-header {
    background: #101010;
    padding: 16px !important;
}
.modal-footer {
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    background: #101010;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.modal-body {
    background: rgb(33, 33, 33) !important;
    padding: 27px !important;
}
.modal-header .modal-title {
    color: #505050;
    text-transform: uppercase;
}
body .modal .modal-dialog .modal-body p,
body .modal .modal-dialog .modal-body div,
body .modal .modal-dialog .modal-body span {
    color: #e4e4e4;
}
.bg-primary {
    background: #90b900 !important;
}
.bg-info {
    background: #40a1a0 !important;
}
.bg-success {
    background: #72ab57 !important;
}
.bg-warning {
    background: #dfb81c !important;
}
.bg-danger {
    background: #e85656 !important;
}
.text-primary {
    color: #90b900 !important;
}
.text-info {
    color: #40a1a0 !important;
}
.text-success {
    color: #72ab57 !important;
}
.text-warning {
    color: #dfb81c !important;
}
.text-danger {
    color: #e85656 !important;
}
.has-success .form-control.validatable {
    border: 1px solid #a6c733 !important;
}
.has-error .form-control.validatable {
    border: 1px solid #e85656 !important;
}
.group {
    border: 1px solid white;
    border-radius: 5px;
    border-top: none;
    border-bottom: none;
    padding: 20px;
}
.btn.btn-default-flipped {
    background: transparent;
    border: 1px solid #7d7d7d;
    color: #7d7d7d;
}
.btn.btn-default-flipped:active, .btn.btn-default-flipped:target {
    background-color: rgba(0, 0, 0, 0.2);
}
.bottom-buttons {
    border-top: 1px solid #ffffff;
    margin-top: 10px;
    padding-top: 10px;
}
.login-box {
    position: relative;
    display: inline-block;
    background: #2b2b2b;
    color: #8a8a8a !important;
    border-color: #3a3a3a;
    padding: 28px 20px 5px 20px;
    margin-bottom: 8px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
.login-box:hover {
    border-color: #565656 !important;
    color: #afafaf !important;
}
.login-box .bg {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 20px;
}
.login-box img {
    width: 120px;
    position: relative;
    z-index: 2;
}
.login-box .desc {
    text-align: center;
    position: relative;
    z-index: 3;
    font-size: 14px;
    margin: 10px 0;
    width: 120px;
    height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.login-box .new-profile {
    background: #4e4e4e;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    color: #2b2b2b;
    transition: background-color 150ms ease;
}
.login-box .new-profile i {
    font-size: 135px;
    position: relative;
    top: -12px;
}
.login-box:hover .new-profile {
    background: #585858;
}
.tree-icon.has-changes:after {
    content: '';
    background: #dfb81c;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    margin: -3px 0 0 -1px;
}
.btn-list-centered {
    text-align: center;
}
.btn-list-centered > * {
    display: inline-block;
    margin-right: 18px;
}
.btn-list-centered > *:last-child {
    margin-right: 0;
}
a.help {
    cursor:help;
    color: white !important;
}
.user-profile {
    transition: color 300ms ease;
}
.user-profile:hover {
    color: #90b900;
}
.vakata-context a {
    color: black !important;
}
.al-sidebar-list-link {
    transition: all 400ms ease;
}
.al-sidebar-list-link.disabled {
    background: rgb(0, 0, 0);
    opacity: 0.2;
    cursor: default;
    color: white !important;
    text-shadow:    0 0 6px rgba(255, 255, 255, .3),
                    1px 1px 6px rgba(255, 255, 255, .3),
                    -1px -1px 6px rgba(255, 255, 255, .3),
                    -1px 1px 6px rgba(255, 255, 255, .3),
                    1px -1px 6px rgba(255, 255, 255, .3),
                    2px 2px 6px rgba(255, 255, 255, .3),
                    -2px -2px 6px rgba(255, 255, 255, .3),
                    -2px 2px 6px rgba(255, 255, 255, .3),
                    2px -2px 6px rgba(255, 255, 255, .3);
}