<!DOCTYPE html>
<html lang="en" ng-app="BlurAdmin" ng-csp="">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>Go-To-Guy</title>

    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">

    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.css"/>
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="bower_components/jstree/dist/themes/default/style.css"/>

    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/blur-admin.css">
    <link rel="stylesheet" href="css/app.css">

</head>
<body>
<div class="body-bg"></div>
<div ng-if="browserNotSupported" id="browserSupport" class="hidden" style="min-height: 100%; min-width: 100%;">
    <main class="auth-main">
        <div class="auth-block">
            <h1>Snap! Your Browser Is Too Old :(</h1>
            <p>Go-To-Guy requires a modern web-browser, how about
                <a href="https://www.google.com/chrome/" target="_blank">Chrome</a> or
                <a href="https://www.mozilla.org/en-US/firefox/" target="_blank">FireFox</a>?</p>
        </div>
    </main>
</div>
<div ng-if="!browserNotSupported" ui-view style="height: 100%; width: 100%; position: relative;"></div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/jquery.easing/js/jquery.easing.js"></script>
<script src="bower_components/amcharts/dist/amcharts/amcharts.js"></script>
<script src="bower_components/amcharts/dist/amcharts/plugins/responsive/responsive.min.js"></script>
<script src="bower_components/amcharts/dist/amcharts/serial.js"></script>
<script src="bower_components/amcharts/dist/amcharts/pie.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-sortable/sortable.js"></script>
<script src="bower_components/bootstrap/js/dropdown.js"></script>
<script src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
<script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
<script src="bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/jstree/dist/jstree.js"></script>
<script src="bower_components/ng-js-tree/dist/ngJsTree.js"></script>

<script src="app/app.js"></script>
<script src="app/config/amChartConfig.js"></script>
<script src="app/config/routes.js"></script>
<script src="app/config/sanitize.js"></script>
<script src="app/services/comparator.js"></script>
<script src="app/services/utils.js"></script>
<script src="app/services/pathManager.js"></script>
<script src="app/controllers/EditController.js"></script>
<script src="app/controllers/LoginController.js"></script>
<script src="app/controllers/MonitorController.js"></script>
<script src="app/controllers/ProfileController.js"></script>
<script src="app/controllers/modals/ConfirmController.js"></script>
<script src="app/controllers/modals/PathGeneratorController.js"></script>
<script src="app/controllers/modals/ImportExportController.js"></script>
<script src="app/theme/theme.module.js"></script>
<script src="app/theme/components/components.module.js"></script>
<script src="app/theme/theme.config.js"></script>
<script src="app/theme/theme.configProvider.js"></script>
<script src="app/theme/theme.constants.js"></script>
<script src="app/theme/theme.run.js"></script>
<script src="app/theme/theme.service.js"></script>
<script src="app/theme/components/toastrLibConfig.js"></script>
<script src="app/theme/directives/scrollPosition.js"></script>
<script src="app/theme/directives/zoomIn.js"></script>
<script src="app/theme/services/baUtil.js"></script>
<script src="app/theme/services/preloader.js"></script>
<script src="app/theme/components/baPanel/baPanel.directive.js"></script>
<script src="app/theme/components/baPanel/baPanel.service.js"></script>
<script src="app/theme/components/baPanel/baPanelBlur.directive.js"></script>
<script src="app/theme/components/baPanel/baPanelBlurHelper.service.js"></script>
<script src="app/theme/components/baPanel/baPanelSelf.directive.js"></script>
<script src="app/theme/components/backTop/backTop.directive.js"></script>
<script src="app/theme/components/baSidebar/baSidebar.directive.js"></script>
<script src="app/theme/components/baSidebar/baSidebar.service.js"></script>
<script src="app/theme/components/baSidebar/BaSidebarCtrl.js"></script>
<script src="app/theme/components/baSidebar/baSidebarHelpers.directive.js"></script>
<script src="app/theme/components/contentTop/contentTop.directive.js"></script>
<script src="app/theme/components/pageTop/pageTop.directive.js"></script>
<script src="app/theme/components/widgets/widgets.directive.js"></script>
<script src="app/theme/components/backTop/lib/jquery.backTop.min.js"></script>

</body>
</html>