<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
    <a ui-sref="monitor" class="al-logo clearfix">
        <img style="background: #313131; padding: 10px; border-radius: 50%;" src="assets/img/favicon-29x29.png">&nbsp;
        Go-To-<span>Guy</span>
    </a>
    <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

    <div class="user-profile clearfix">
        <div uib-dropdown style="cursor: pointer;">
            <div uib-dropdown-toggle>
                <div class="al-user-profile">
                    <a class="profile-toggle-link">
                        <div class="bg" style="background: {{profile.color}};"></div>
                        <img ng-src="assets/img/app/avatar/{{profile.avatar}}.png">
                    </a>
                </div>
                <div style="float: right; margin: 14px 10px;"><span style="font-size: 12px;">{{profile.name}}</span></div>
            </div>
            <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
                <li><i class="dropdown-arr"></i></li>
                <li><a ui-sref="profile"><i class="fa fa-user"></i>Profile</a></li>
                <li><a ng-click="logout()" class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
            </ul>
        </div>
    </div>
</div>