<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">Import Profiles</h4>
    </div>
    <div class="modal-body">
        <div ng-if="!showData">
            <p>Choose an import method. If you have an exported JSON file use the import file method, if you have an exported data text, use the paste export data method.</p>
            <div class="btn-list-centered" style="margin: 37px 0 20px 0;">
                <label class="btn btn-success btn-with-icon btn-xm">
                    <i class="fa fa-folder-open-o"></i>Import File
                    <input id="importFile" type="file" style="display: none;" onchange="angular.element(this).scope().importFile()">
                </label>
                <button class="btn btn-default btn-with-icon btn-xm"
                        ng-click="showPasteExportData()">
                    <i class="fa fa-font"></i>Paste Export Data
                </button>
            </div>
        </div>
        <div ng-if="showData">
            <div style="margin-bottom: 10px;">
                    <textarea class="form-control"
                              id="paste-area"
                              style="width: 100%; resize:vertical;"
                              placeholder="Paste export here and click import button below..."></textarea>
            </div>
            <div>
                <button class="btn btn-success btn-with-icon btn-xm" ng-click="importPaste()">
                    <i class="ion-android-checkmark-circle"></i>Import
                </button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <ul class="btn-list pull-right">
            <li>
                <button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">
                    <i class="ion-android-cancel"></i>Close
                </button>
            </li>
        </ul>
    </div>
</div>