<main class="auth-main" ng-if="initialized">
    <div class="auth-block">

        <h1>Sign in to <span class="text-primary">Go-To-Guy</span></h1>

        <div>
            <ul class="list-inline" style="text-align: center;">
                <li ng-repeat="profile in ::allProfiles track by $index" class="profile-thumbnail">
                    <a ng-click="login(profile.id)" class="thumbnail login-box">
                        <div class="bg" style="background-color: {{profile.color}};"></div>
                        <img ng-src="assets/img/app/avatar/{{profile.avatar}}.png">
                        <div class="desc">{{profile.name}}</div>
                    </a>
                </li>
                <li class="profile-thumbnail">
                    <a ng-click="register()" class="thumbnail login-box">
                        <div class="bg"></div>
                        <div class="new-profile"><i class="ion-ios-person"></i></div>
                        <div class="desc">Create Profile</div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="auth-sep hidden-xs"><span><span>Live monitoring for backend applications.</span></span></div>

        <div class="btn-list-centered">
            <button type="button" class="btn btn-default btn-with-icon" ng-click="import()">
                <i class="fa fa-cloud-download"></i>Import
            </button>
            <button type="button" class="btn btn-default btn-with-icon" ng-click="export()">
                <i class="fa fa-cloud-upload"></i>Export
            </button>
        </div>

    </div>
</main>