<main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <ba-sidebar></ba-sidebar>
    <page-top></page-top>

    <div class="al-main">
        <div class="al-content">

            <div class="content-top clearfix">

                <div class="row">

                    <div class="col-sm-7">
                        <h1 class="al-title" style="line-height: 34px;">Monitor {{server.title}}</h1>
                    </div>
                    <div class="col-sm-5">
                        <ul class="btn-list pull-right" style="padding: 0;">
                            <li style="margin: 0;">
                                <a ui-sref="edit({resourceId: '{{serverId}}'})" class="btn btn-default btn-with-icon">
                                    <i class="fa fa-cog" aria-hidden="true"></i>Edit This Server
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

            <div ng-if="serverIsUp" class="widgets" autoscroll="true" autoscroll-body-top>
                <div class="row">
                    <div ng-repeat="meter in meters track by $index"
                         id="meter-wrapper-{{$index}}"
                         class="meter col-md-{{meter.width}}"
                         ba-panel
                         ba-panel-title="{{meter.title}}"
                         ba-panel-meter-id="{{meter.id}}"
                         ba-panel-class="with-scroll">
                        <div id="meter{{$index}}" class="admin-chart"></div>
                    </div>
                </div>
            </div>

            <div ng-if="!serverIsUp">
                <div class="panel panel-blur with-scroll animated zoomIn" zoom-in="" ba-panel-blur=""
                     style="background-size: 1663px 935px; background-position: 0 -8px; height: 500px;">
                    <div class="panel-body text-danger" style="text-align: center; animation: half-blinker 3s linear infinite;">
                        <div><img src="assets/img/app/icons/connection.png" style="width: 340px; margin: 67px 0 20px;"></div>
                        <div>{{server.title}} is not responding!</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <back-top></back-top>

</main>

<div id="preloader" ng-show="!$pageFinishedLoading">
    <div></div>
</div>