<main ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <ba-sidebar></ba-sidebar>
    <page-top></page-top>

    <div class="al-main">
        <div class="al-content">

            <content-top></content-top>

            <div ba-panel class="edit-page">
                <div class="panel-content">

                    <div class="row">

                        <div class="col-md-5">
                            <h3 class="with-line" style="padding-top: 0;">Servers Tree</h3>
                            <div id="tree" js-tree="treeConfig" ng-model="treeData" tree-events-obj="treeEventsObj"></div>
                            <div ng-if="profile.servers.length === 0" style="text-align: center; padding: 30px 20px;">
                                <p>You have not created any monitored servers.</p>
                                <button type="button" class="btn btn-default btn-with-icon btn-lg blinker" ng-click="addNewServer()">
                                    <i class="fa fa-plus-circle"></i>Add Your First Server!
                                </button>
                            </div>
                        </div>

                        <div class="col-md-7">

                            <h3 class="with-line" style="padding-top: 0;">Edit{{currentServer ? (' - ' + currentServer.title) : ''}}</h3>

                            <div ng-if="mode === 'server'">

                                <div class="form-group has-feedback">
                                    <label for="inputServerTitle">Title</label>
                                    <input type="text" class="form-control validatable on-keypress" id="inputServerTitle" placeholder="Title of the server" ng-model="currentServer.title">
                                    <i class="form-control-feedback" aria-hidden="true"></i>
                                    <span class="help-block sub-little-text">A title representing the server in the entire monitor UI.</span>
                                </div>

                                <div class="form-group has-feedback">
                                    <label for="inputServerURL">URL</label>
                                    <div class="row">
                                        <div class="col-md-2 md-no-gutter-right">
                                            <select id="inputServerMethod" class="form-control validatable" ng-model="currentServer.method">
                                                <option>GET</option>
                                                <option>POST</option>
                                                <option>PUT</option>
                                                <option>DELETE</option>
                                            </select>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control validatable" id="inputServerURL" placeholder="URL of the server" ng-model="currentServer.url">
                                        </div>
                                    </div>
                                    <i class="form-control-feedback" aria-hidden="true"></i>
                                    <span class="help-block sub-little-text">A URL that returns a JSON representation of the server monitoring data.</span>
                                </div>

                            </div>

                            <div ng-if="mode === 'meter'">

                                <div class="form-group has-feedback">
                                    <label for="inputMeterTitle">Title</label>
                                    <input type="text" class="form-control validatable on-keypress" id="inputMeterTitle" placeholder="Title of the meter" ng-model="currentMeter.title">
                                    <i class="form-control-feedback" aria-hidden="true"></i>
                                    <span class="help-block sub-little-text">A title representing the meter in the entire monitor UI.</span>
                                </div>

                                <div class="form-group has-feedback">
                                    <label for="inputMeterWidth">Width (?/12)</label>
                                    <select id="inputMeterWidth" class="form-control validatable" ng-model="currentMeter.width">
                                        <option value="12">12 (100%)</option>
                                        <option value="11">11 (91%)</option>
                                        <option value="10">10 (83%)</option>
                                        <option value="9">9 (75%)</option>
                                        <option value="8">8 (66%)</option>
                                        <option value="7">7 (58%)</option>
                                        <option value="6">6 (50%)</option>
                                        <option value="5">5 (41%)</option>
                                        <option value="4">4 (33%)</option>
                                        <option value="3">3 (25%)</option>
                                        <option value="2">2 (16%)</option>
                                        <option value="1">1 (8%)</option>
                                    </select>
                                    <span class="help-block sub-little-text">The percentage of the entire screen width this meter should occupy (on desktop only).</span>
                                </div>

                                <div class="form-group has-feedback">
                                    <label for="inputMeterType">Type</label>
                                    <select id="inputMeterType" class="form-control validatable" ng-model="currentMeter.type">
                                        <option value="GRAPH">Graph</option>
                                        <option value="PIE">Pie Chart</option>
                                        <option value="TABLE">Table</option>
                                        <option value="VALUE">Single Value Monitor</option>
                                    </select>
                                    <span class="help-block sub-little-text">The type of the meter.</span>
                                </div>

                                <div class="form-group has-feedback">
                                    <label class="checkbox-inline custom-checkbox nowrap">
                                        <input type="checkbox" id="inputMeterIsPrototype" ng-model="currentMeter.isPrototype">
                                        <span>Is Prototype</span>
                                    </label>
                                    <span class="help-block sub-little-text">Makes the meter non-concrete, but a set of meters depending on a given collection of objects.</span>
                                </div>

                                <div ng-if="currentMeter.isPrototype">

                                    <div class="form-group has-feedback">
                                        <label for="inputMeterPrototypeCollectionPath">Prototype Collection Path ({{countPathRecords(currentMeter.prototypeCollection.collectionPath)}})</label>
                                        <div class="input-group ng-scope">
                                            <span class="input-group-btn"><button class="btn btn-primary" type="button" ng-click="editPrototypeCollectionPath()">Edit</button></span>
                                            <input id="inputMeterPrototypeCollectionPath" type="text" class="prototype-path form-control with-primary-addon validatable" value="{{beautifyPath(currentMeter.prototypeCollection.collectionPath)}}" disabled>
                                        </div>
                                        <i class="form-control-feedback" aria-hidden="true"></i>
                                        <span class="help-block sub-little-text">Path to a collection of objects representing the different meters of this prototype.</span>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label for="inputMeterPrototypeTitlePath">Prototype Title Path</label>
                                        <div class="input-group ng-scope">
                                            <span class="input-group-btn"><button class="btn btn-primary" type="button" ng-click="editPrototypeTitlePath()">Edit</button></span>
                                            <input id="inputMeterPrototypeTitlePath" type="text" class="prototype-path form-control with-primary-addon validatable" value="{{beautifyPath(currentMeter.prototypeCollection.titlePath)}}" disabled>
                                        </div>
                                        <i class="form-control-feedback" aria-hidden="true"></i>
                                        <span class="help-block sub-little-text">Path from a collection object to the value of the concrete meter title.</span>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label for="inputMeterTitlePrefix">Title Prefix</label>
                                        <input type="text" class="form-control validatable always-valid" id="inputMeterTitlePrefix" placeholder="Title Prefix" ng-model="currentMeter.prototypeCollection.titlePrefix">
                                        <i class="form-control-feedback" aria-hidden="true"></i>
                                        <span class="help-block sub-little-text">An optional text to be prepended to the concrete meter title.</span>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label for="inputMeterTitleSuffix">Title Suffix</label>
                                        <input type="text" class="form-control validatable always-valid" id="inputMeterTitleSuffix" placeholder="Title Suffix" ng-model="currentMeter.prototypeCollection.titleSuffix">
                                        <i class="form-control-feedback" aria-hidden="true"></i>
                                        <span class="help-block sub-little-text">An optional text to be appended to the concrete meter title.</span>
                                    </div>

                                </div>

                                <div ng-if="currentMeter.type === 'GRAPH'">

                                    <div class="form-group has-feedback">
                                        <label for="inputMeterMaxHistory">Max History</label>
                                        <select id="inputMeterMaxHistory" class="form-control validatable always-valid" ng-model="currentMeter.config.maxHistory">
                                            <option value="30">30 Seconds (0.5 Minutes)</option>
                                            <option value="60">60 Seconds (1 Minutes)</option>
                                            <option value="90">90 Seconds  (1.5 Minutes)</option>
                                            <option value="120">120 Seconds (2 Minutes)</option>
                                            <option value="150">150 Seconds (2.5 Minutes)</option>
                                            <option value="180">180 Seconds (3 Minutes)</option>
                                            <option value="210">210 Seconds (3.5 Minutes)</option>
                                            <option value="240">240 Seconds (4 Minutes)</option>
                                            <option value="270">270 Seconds (4.5 Minutes)</option>
                                            <option value="300">300 Seconds (5 Minutes)</option>
                                        </select>
                                        <span class="help-block sub-little-text">How long ago should the chart data span at any time.</span>
                                    </div>

                                </div>

                                <div ng-if="currentMeter.type === 'GRAPH' || currentMeter.type === 'PIE'">

                                    <label>Chart Participants</label>
                                    <span class="help-block sub-little-text">The data to be shown in the chart.</span>

                                    <div ng-repeat="participant in currentMeter.config.participants track by $index" class="group">

                                        <div class="form-group has-feedback">
                                            <label for="inputMeterParticipantType">Type</label>
                                            <select id="inputMeterParticipantType" class="form-control validatable always-valid" ng-model="participant.type" ng-change="onParticipantTypeChange(participant)">
                                                <option value="INSTANCE">Single Participant</option>
                                                <option value="COLLECTION">Collection of Participants</option>
                                            </select>
                                            <span class="help-block sub-little-text">Whether should the current participant be a single one, or a collection of participants.</span>
                                        </div>

                                        <div ng-if="participant.type === 'INSTANCE'">

                                            <div class="form-group has-feedback">
                                                <label for="inputMeterParticipantTitle">Participant Name</label>
                                                <input type="text" class="form-control validatable not-empty" id="inputMeterParticipantTitle" placeholder="Display name of the participant in the chart" ng-model="participant.title">
                                                <i class="form-control-feedback" aria-hidden="true"></i>
                                                <span class="help-block sub-little-text">A title representing the meter in the entire monitor UI.</span>
                                            </div>

                                        </div>

                                        <div ng-if="participant.type === 'COLLECTION'">

                                            <div class="form-group has-feedback">
                                                <label for="inputMeterParticipantCollectionPath{{$index}}">Participant Collection Path ({{countPathRecords(participant.collectionPath)}})</label>
                                                <div class="input-group ng-scope">
                                                    <span class="input-group-btn"><button class="btn btn-primary" type="button" ng-click="editParticipantCollectionPath(participant, $index)">Edit</button></span>
                                                    <input id="inputMeterParticipantCollectionPath{{$index}}" type="text" class="participant-collection-path form-control with-primary-addon validatable" value="{{beautifyPath(participant.collectionPath)}}" disabled>
                                                </div>
                                                <i class="form-control-feedback" aria-hidden="true"></i>
                                                <span class="help-block sub-little-text">Path to a collection of objects representing the different participants.</span>
                                            </div>

                                            <div class="form-group has-feedback">
                                                <label for="inputMeterParticipantTitlePath{{$index}}">Participant Title Path</label>
                                                <div class="input-group ng-scope">
                                                    <span class="input-group-btn"><button class="btn btn-primary" type="button" ng-click="editParticipantTitlePath(participant, $index)">Edit</button></span>
                                                    <input id="inputMeterParticipantTitlePath{{$index}}" type="text" class="participant-title-path form-control with-primary-addon validatable" value="{{beautifyPath(participant.titlePath)}}" disabled>
                                                </div>
                                                <i class="form-control-feedback" aria-hidden="true"></i>
                                                <span class="help-block sub-little-text">Path from a collection object to the value of the concrete participants title.</span>
                                            </div>

                                            <div class="form-group has-feedback">
                                                <label for="inputMeterParticipantTitlePrefix{{$index}}">Participant Title Prefix</label>
                                                <input type="text" class="form-control validatable always-valid" id="inputMeterParticipantTitlePrefix{{$index}}" placeholder="Title Prefix" ng-model="participant.titlePrefix">
                                                <i class="form-control-feedback" aria-hidden="true"></i>
                                                <span class="help-block sub-little-text">An optional text to be prepended to the concrete meter title.</span>
                                            </div>

                                            <div class="form-group has-feedback">
                                                <label for="inputMeterParticipantTitleSuffix{{$index}}">Participant Title Suffix</label>
                                                <input type="text" class="form-control validatable always-valid" id="inputMeterParticipantTitleSuffix{{$index}}" placeholder="Title Suffix" ng-model="participant.titleSuffix">
                                                <i class="form-control-feedback" aria-hidden="true"></i>
                                                <span class="help-block sub-little-text">An optional text to be appended to the concrete meter title.</span>
                                            </div>

                                        </div>

                                        <div class="form-group has-feedback">
                                            <label for="inputMeterParticipantValuePath{{$index}}">Participant Data</label>
                                            <div class="input-group ng-scope">
                                                <span class="input-group-btn"><button class="btn btn-primary" type="button" ng-click="editParticipantValuePath(participant, $index)">Edit</button></span>
                                                <input id="inputMeterParticipantValuePath{{$index}}" type="text" class="participant-value-path form-control with-primary-addon validatable" value="{{beautifyPath(participant.valuePath)}}" disabled>
                                            </div>
                                            <i class="form-control-feedback" aria-hidden="true"></i>
                                            <span class="help-block sub-little-text">Path to the data to be presented.</span>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul class="btn-list pull-right">
                                                    <li>
                                                        <button type="button" class="btn btn-default btn-with-icon" ng-click="removeParticipant($index)">
                                                            <i class="fa fa-list"></i>Remove Participant
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="btn-list pull-right">
                                                <li>
                                                    <button type="button" class="btn btn-default btn-with-icon" ng-click="addParticipant()">
                                                        <i class="fa fa-list"></i>Add Participant
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div ng-if="currentMeter.type === 'VALUE'">

                                    <div class="form-group has-feedback">
                                        <label for="inputMeterParticipantValuePrefix">Value Prefix</label>
                                        <input type="text" class="form-control validatable always-valid" id="inputMeterParticipantValuePrefix" placeholder="Value Prefix" ng-model="currentMeter.config.prefix">
                                        <i class="form-control-feedback" aria-hidden="true"></i>
                                        <span class="help-block sub-little-text">An optional text to be prepended to the meter text.</span>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label for="inputMeterParticipantValueSuffix">Value Suffix</label>
                                        <input type="text" class="form-control validatable always-valid" id="inputMeterParticipantValueSuffix" placeholder="Value Suffix" ng-model="currentMeter.config.suffix">
                                        <i class="form-control-feedback" aria-hidden="true"></i>
                                        <span class="help-block sub-little-text">An optional text to be appended to the meter text.</span>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label for="inputMeterPath">Data</label>
                                        <div class="input-group ng-scope">
                                            <span class="input-group-btn"><button class="btn btn-primary" type="button" ng-click="editValuePath()">Edit</button></span>
                                            <input id="inputMeterPath" type="text" class="form-control with-primary-addon validatable" value="{{beautifyPath(currentMeter.config.path)}}" disabled>
                                        </div>
                                        <i class="form-control-feedback" aria-hidden="true"></i>
                                        <span class="help-block sub-little-text">Path to the data to be presented.</span>
                                    </div>

                                </div>

                                <div ng-if="currentMeter.type === 'TABLE'">

                                    <div class="form-group has-feedback">
                                        <label for="inputMeterTableCollectionPath">Table Collection Path ({{countPathRecords(currentMeter.config.table.collectionPath)}})</label>
                                        <div class="input-group ng-scope">
                                            <span class="input-group-btn"><button class="btn btn-primary" type="button" ng-click="editTableCollectionPath()">Edit</button></span>
                                            <input id="inputMeterTableCollectionPath" type="text" class="form-control with-primary-addon validatable" value="{{beautifyPath(currentMeter.config.table.collectionPath)}}" disabled>
                                        </div>
                                        <i class="form-control-feedback" aria-hidden="true"></i>
                                        <span class="help-block sub-little-text">Path to a collection of objects representing the different table rows.</span>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label for="inputMeterTableTitlePath">Row Title Path</label>
                                        <div class="input-group ng-scope">
                                            <span class="input-group-btn"><button class="btn btn-primary" type="button" ng-click="editTableTitlePath()">Edit</button></span>
                                            <input id="inputMeterTableTitlePath" type="text" class="form-control with-primary-addon validatable" value="{{beautifyPath(currentMeter.config.table.titlePath)}}" disabled>
                                        </div>
                                        <i class="form-control-feedback" aria-hidden="true"></i>
                                        <span class="help-block sub-little-text">Path from a collection object to the value of the concrete row title.</span>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label for="inputMeterTableTitlePrefix">Row Title Prefix</label>
                                        <input type="text" class="form-control validatable always-valid" id="inputMeterTableTitlePrefix" placeholder="Row Title Prefix" ng-model="currentMeter.config.table.titlePrefix">
                                        <i class="form-control-feedback" aria-hidden="true"></i>
                                        <span class="help-block sub-little-text">An optional text to be prepended to the concrete row title.</span>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label for="inputMeterTableTitleSuffix">Row Title Suffix</label>
                                        <input type="text" class="form-control validatable always-valid" id="inputMeterTableTitleSuffix" placeholder="Row Title Suffix" ng-model="currentMeter.config.table.titleSuffix">
                                        <i class="form-control-feedback" aria-hidden="true"></i>
                                        <span class="help-block sub-little-text">An optional text to be appended to the concrete row title.</span>
                                    </div>

                                    <label>Table Columns</label>
                                    <span class="help-block sub-little-text">The columns of the table, each contains a concrete column title and path to the cell data.</span>

                                    <div ng-repeat="value in currentMeter.config.table.values track by $index" class="group">

                                        <div class="form-group has-feedback">
                                            <label for="inputMeterTableColumnTitle{{$index}}">Column Title</label>
                                            <input type="text" class="form-control validatable not-empty" id="inputMeterTableColumnTitle{{$index}}" placeholder="The title of the column" ng-model="value.title">
                                            <i class="form-control-feedback" aria-hidden="true"></i>
                                            <span class="help-block sub-little-text">A title to be shown in the column table header.</span>
                                        </div>

                                        <div class="form-group has-feedback">
                                            <label for="inputMeterTableValuePath{{$index}}">Column Cell Data</label>
                                            <div class="input-group ng-scope">
                                                <span class="input-group-btn"><button class="btn btn-primary" type="button" ng-click="editTableValuePath(value, $index)">Edit</button></span>
                                                <input id="inputMeterTableValuePath{{$index}}" type="text" class="table-value-path form-control with-primary-addon validatable" value="{{beautifyPath(value.valuePath)}}" disabled>
                                            </div>
                                            <i class="form-control-feedback" aria-hidden="true"></i>
                                            <span class="help-block sub-little-text">Path from a collection object to the value of the column cell.</span>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul class="btn-list pull-right">
                                                    <li>
                                                        <button type="button" class="btn btn-default btn-with-icon" ng-click="removeColumn($index)">
                                                            <i class="fa fa-list"></i>Remove Column
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="btn-list pull-right">
                                                <li>
                                                    <button type="button" class="btn btn-default btn-with-icon" ng-click="addColumn()">
                                                        <i class="fa fa-list"></i>Add Column
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="bottom-buttons">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="btn-list pull-right">
                                    <li>
                                        <button type="button" class="btn btn-default btn-with-icon btn-xm" ng-click="save()">
                                            <i class="ion-android-cancel"></i>Cancel
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-primary btn-with-icon btn-xm" ng-click="save()">
                                            <i class="ion-android-checkmark-circle"></i>Save
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <back-top></back-top>

</main>