<main ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <ba-sidebar></ba-sidebar>
    <page-top></page-top>

    <div class="al-main">
        <div class="al-content">

            <content-top></content-top>

            <div ba-panel class="edit-page">
                <div class="panel-content">

                    <div class="row">

                        <div class="col-md-5">
                            <h3 class="with-line" style="padding-top: 0;">Servers Tree</h3>
                            <div js-tree="treeConfig" ng-model="treeData" tree-events-obj="treeEventsObj"></div>
                        </div>

                        <div class="col-md-7">

                            <h3 class="with-line" style="padding-top: 0;">Edit{{currentServer ? (' - ' + currentServer.title) : ''}}</h3>

                            <div ng-if="mode === 'server'">

                                <div class="form-group has-feedback">
                                    <label for="inputServerTitle">Title</label>
                                    <input type="text" class="form-control validatable on-keypress" id="inputServerTitle" placeholder="Title of the server" ng-model="currentServer.title">
                                    <i class="form-control-feedback" aria-hidden="true"></i>
                                    <span class="help-block sub-little-text">A title representing the server in the entire monitor UI.</span>
                                </div>

                                <div class="form-group has-feedback">
                                    <label for="inputServerURL">URL</label>
                                    <div class="row">
                                        <div class="col-md-2 md-no-gutter-right">
                                            <select id="inputServerMethod" class="form-control validatable" ng-model="currentServer.method">
                                                <option>GET</option>
                                                <option>POST</option>
                                                <option>PUT</option>
                                                <option>DELETE</option>
                                            </select>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control validatable" id="inputServerURL" placeholder="URL of the server" ng-model="currentServer.url">
                                        </div>
                                    </div>
                                    <i class="form-control-feedback" aria-hidden="true"></i>
                                    <span class="help-block sub-little-text">A URL that returns a JSON representation of the server monitoring data.</span>
                                </div>

                            </div>

                            <div ng-if="mode === 'meter'">

                                <div class="form-group has-feedback">
                                    <label for="inputMeterTitle">Title</label>
                                    <input type="text" class="form-control validatable on-keypress" id="inputMeterTitle" placeholder="Title of the meter" ng-model="currentMeter.title">
                                    <i class="form-control-feedback" aria-hidden="true"></i>
                                    <span class="help-block sub-little-text">A title representing the meter in the entire monitor UI.</span>
                                </div>

                                <div class="form-group has-feedback">
                                    <label for="inputMeterWidth">Width (?/12)</label>
                                    <select id="inputMeterWidth" class="form-control validatable" ng-model="currentMeter.width">
                                        <option value="12">12 (100%)</option>
                                        <option value="11">11 (91%)</option>
                                        <option value="10">10 (83%)</option>
                                        <option value="9">9 (75%)</option>
                                        <option value="8">8 (66%)</option>
                                        <option value="7">7 (58%)</option>
                                        <option value="6">6 (50%)</option>
                                        <option value="5">5 (41%)</option>
                                        <option value="4">4 (33%)</option>
                                        <option value="3">3 (25%)</option>
                                        <option value="2">2 (16%)</option>
                                        <option value="1">1 (8%)</option>
                                    </select>
                                    <span class="help-block sub-little-text">The percentage of the entire screen width this meter should occupy (on desktop only).</span>
                                </div>

                                <div class="form-group has-feedback">
                                    <label for="inputMeterType">Type</label>
                                    <select id="inputMeterType" class="form-control validatable" ng-model="currentMeter.type">
                                        <option value="GRAPH">Graph</option>
                                        <option value="PIE">Pie Chart</option>
                                        <option value="TABLE">Table</option>
                                        <option value="VALUE">Single Value Monitor</option>
                                    </select>
                                    <span class="help-block sub-little-text">The type of the meter.</span>
                                </div>

                                <div class="form-group has-feedback">
                                    <label class="checkbox-inline custom-checkbox nowrap">
                                        <input type="checkbox" id="inputMeterIsPrototype" ng-model="currentMeter.isPrototype">
                                        <span>Is Prototype</span>
                                    </label>
                                    <span class="help-block sub-little-text">Makes the meter non-concrete, but a set of meters depending on a given collection of objects.</span>
                                </div>

                                <div ng-if="currentMeter.isPrototype">

                                    <div class="form-group has-feedback">
                                        <label>Prototype Collection Path ({{countPathRecords(currentMeter.prototypeCollection.collectionPath)}})</label>
                                        <div id="prototype-collection-path" class="validation-group validatable">
                                            <div ng-repeat="entry in currentMeter.prototypeCollection.collectionPath track by $index">
                                                <div ng-if="detectPathType(currentMeter.prototypeCollection.collectionPath, $index) === 'OBJECT'">
                                                    <select class="form-control validation-group-inner" ng-model="entry.result">
                                                        <option ng-repeat="option in calculatePathObjectKeyOptions(currentMeter.prototypeCollection.collectionPath, $parent.$index)">{{option}}</option>
                                                    </select>
                                                </div>
                                                <div ng-if="detectPathType(currentMeter.prototypeCollection.collectionPath, $index) === 'ARRAY'">
                                                    <div class="form-group">
                                                        <label>Conditions</label>
                                                        <div class="{{$index === 0 ? '' : 'top-margin'}}" ng-repeat="(key, value) in entry.conditions">
                                                            <div class="row">
                                                                <div class="col-sm-{{canRemoveCondition(entry) ? '5' : '6'}}" style="line-height: 32px;">
                                                                    <!--<select class="form-control validation-group-inner" ng-model="key">-->
                                                                        <!--<option ng-repeat="option in calculatePathArrayKeyOptions(currentMeter.prototypeCollection.collectionPath, $parent.$index)">{{option}}</option>-->
                                                                    <!--</select>-->
                                                                    {{key}}
                                                                </div>
                                                                <div class="col-sm-1" style="text-align: center;padding: 0;width: 0;line-height: 32px;margin-left: -4px;">=</div>
                                                                <div class="col-sm-6">
                                                                    <select class="form-control validation-group-inner" ng-model="entry[value]">
                                                                        <option ng-repeat="option in calculatePathArrayValueOptions(key, currentMeter.prototypeCollection.collectionPath, $parent.$index)">{{option}}</option>
                                                                    </select>
                                                                </div>
                                                                <div ng-if="canRemoveCondition(entry)" class="col-sm-1" style="text-align: right;">
                                                                    <ul class="btn-list pull-right" style="padding-top: 0;">
                                                                        <li>
                                                                            <button type="button" class="btn btn-danger btn-icon" ng-click="removeCondition(entry, key)">
                                                                                <i class="fa fa-times"></i>
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="help-block sub-little-text">The list of conditions to qualify an entry for selection.</span>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <ul class="btn-list pull-right">
                                                                    <li>
                                                                        <button type="button" class="btn btn-default btn-with-icon" ng-click="addCondition(currentMeter.prototypeCollection.collectionPath, $parent.$index)">
                                                                            <i class="fa fa-plus"></i>Add Condition
                                                                        </button>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Result Key</label>
                                                        <select class="form-control validation-group-inner" ng-model="entry.result">
                                                            <option ng-repeat="option in calculatePathArrayKeyOptions(currentMeter.prototypeCollection.collectionPath, $parent.$index)">{{option}}</option>
                                                        </select>
                                                        <span class="help-block sub-little-text">The key to be extracted from the selected entry.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="btn-list pull-right">
                                                        <li ng-if="currentMeter.prototypeCollection.collectionPath.length > 0">
                                                            <button type="button" class="btn btn-danger btn-with-icon" ng-click="removePathEntry(currentMeter.prototypeCollection.collectionPath)">
                                                                <i class="fa fa-list-ul"></i>Remove Last Path Entry
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <button type="button" class="btn btn-default btn-with-icon" ng-click="addPathEntry(currentMeter.prototypeCollection.collectionPath)">
                                                                <i class="fa fa-list-ul"></i>Add Path Entry
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <i class="form-control-feedback" aria-hidden="true"></i>
                                        <span class="help-block sub-little-text">Path to the the collection the objects representing the different meters of this prototype.</span>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label>Prototype Title Path</label>
                                        <div id="prototype-title-path" class="validation-group validatable">
                                            <div ng-repeat="entry in currentMeter.prototypeCollection.titlePath track by $index">
                                                <div ng-if="detectPathType(currentMeter.prototypeCollection.titlePath, $index, [currentMeter.prototypeCollection.collectionPath, chooseAny]) === 'OBJECT'">
                                                    <select class="form-control validation-group-inner" ng-model="entry.result">
                                                        <option ng-repeat="option in calculatePathObjectKeyOptions(currentMeter.prototypeCollection.titlePath, $index, [currentMeter.prototypeCollection.collectionPath, chooseAny])">{{option}}</option>
                                                    </select>
                                                </div>
                                                <div ng-if="detectPathType(currentMeter.prototypeCollection.titlePath, $index, [currentMeter.prototypeCollection.collectionPath, chooseAny]) === 'ARRAY'">
                                                    <div class="form-group">
                                                        <label>Conditions</label>
                                                        <div class="{{$index === 0 ? '' : 'top-margin'}}" ng-repeat="(key, value) in entry.conditions">
                                                            <div class="row">
                                                                <div class="col-sm-{{canRemoveCondition(entry) ? '5' : '6'}}" style="line-height: 32px;">
                                                                    <!--<select class="form-control validation-group-inner" ng-model="key">-->
                                                                        <!--<option ng-repeat="option in calculatePathArrayKeyOptions(currentMeter.prototypeCollection.titlePath, $index, [currentMeter.prototypeCollection.collectionPath, chooseAny])">{{option}}</option>-->
                                                                    <!--</select>-->
                                                                    {{key}}
                                                                </div>
                                                                <div class="col-sm-1" style="text-align: center;padding: 0;width: 0;line-height: 32px;margin-left: -4px;">=</div>
                                                                <div class="col-sm-6">
                                                                    <select class="form-control validation-group-inner" ng-model="entry[value]" data-shit="{{calculatePathArrayValueOptions(key, currentMeter.prototypeCollection.titlePath, $index, [currentMeter.prototypeCollection.collectionPath, chooseAny])}}">
                                                                        <option ng-repeat="option in calculatePathArrayValueOptions(key, currentMeter.prototypeCollection.titlePath, $index, [currentMeter.prototypeCollection.collectionPath, chooseAny])">{{option}}</option>
                                                                    </select>
                                                                </div>
                                                                <div ng-if="canRemoveCondition(entry)" class="col-sm-1" style="text-align: right;">
                                                                    <ul class="btn-list pull-right" style="padding-top: 0;">
                                                                        <li>
                                                                            <button type="button" class="btn btn-danger btn-icon" ng-click="removeCondition(entry, key)">
                                                                                <i class="fa fa-times"></i>
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="help-block sub-little-text">The list of conditions to qualify an entry for selection.</span>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <ul class="btn-list pull-right">
                                                                    <li>
                                                                        <button type="button" class="btn btn-default btn-with-icon" ng-click="addCondition(currentMeter.prototypeCollection.titlePath, $parent.$index)">
                                                                            <i class="fa fa-plus"></i>Add Condition
                                                                        </button>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Result Key</label>
                                                        <select class="form-control validation-group-inner" ng-model="entry.result">
                                                            <option ng-repeat="option in calculatePathArrayKeyOptions(currentMeter.prototypeCollection.titlePath, $index, [currentMeter.prototypeCollection.collectionPath, chooseAny])">{{option}}</option>
                                                        </select>
                                                        <span class="help-block sub-little-text">The key to be extracted from the selected entry.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="btn-list pull-right">
                                                        <li ng-if="currentMeter.prototypeCollection.titlePath.length > 0">
                                                            <button type="button" class="btn btn-danger btn-with-icon" ng-click="removePathEntry(currentMeter.prototypeCollection.titlePath)">
                                                                <i class="fa fa-list-ul"></i>Remove Last Path Entry
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <button type="button" class="btn btn-default btn-with-icon" ng-click="addPathEntry(currentMeter.prototypeCollection.titlePath, [currentMeter.prototypeCollection.collectionPath, chooseAny])">
                                                                <i class="fa fa-list-ul"></i>Add Path Entry
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <i class="form-control-feedback" aria-hidden="true"></i>
                                        <span class="help-block sub-little-text">Path from a collection object to the value of it's title.</span>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div style="border-top: 1px solid #ffffff; margin-top: 10px; padding-top: 10px;">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="btn-list pull-right">
                                    <li>
                                        <button type="button" class="btn btn-default btn-with-icon btn-xm" ng-click="save()">
                                            <i class="ion-android-cancel"></i>Cancel
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-primary btn-with-icon btn-xm" ng-click="save()">
                                            <i class="ion-android-checkmark-circle"></i>Save
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <back-top></back-top>

</main>