<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">Import Profiles</h4>
    </div>
    <div class="modal-body">
        <p>Choose an import method. If you have an exported JSON file use the import file method, if you have an exported data text, use the paste export data method.</p>
        <div class="btn-list-centered" style="margin: 20px;">
            <label class="btn btn-primary btn-with-icon btn-xm">
                <i class="fa fa-folder-open-o"></i>Import File
                <input type="file" style="display: none;">
            </label>
            <button class="btn btn-default-flipped btn-with-icon btn-xm"
                    ng-click="showDataClicked()">
                <i class="fa fa-font"></i>Paste Export Data
            </button>
        </div>
        <textarea readonly class="form-control" id="copy-area" style="margin-bottom: 10px; width: 100%; resize:vertical;" ng-if="showData">{{exportData()}}</textarea>
    </div>
    <div class="modal-footer">
        <ul class="btn-list pull-right">
            <li>
                <button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">
                    <i class="ion-android-cancel"></i>Close
                </button>
            </li>
        </ul>
    </div>
</div>