<main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <ba-sidebar></ba-sidebar>
    <page-top></page-top>

    <div class="al-main">
        <div class="al-content">

            <content-top></content-top>

            <div ng-if="serverIsUp" class="widgets" autoscroll="true" autoscroll-body-top>
                <div class="row">
                    <div ng-repeat="meter in meters track by $index"
                         id="meter-wrapper-{{$index}}"
                         class="meter col-md-{{meter.width}}"
                         ba-panel
                         ba-panel-title="{{meter.title}}"
                         ba-panel-class="with-scroll">
                        <div id="meter{{$index}}" class="admin-chart"></div>
                    </div>
                </div>
            </div>

            <div ng-if="!serverIsUp">
                <div class="panel panel-blur with-scroll animated zoomIn" zoom-in="" ba-panel-blur=""
                     style="background-size: 1663px 935px; background-position: 0 -8px; height: 500px;">
                    <div class="panel-body text-danger" style="text-align: center; animation: half-blinker 3s linear infinite;">
                        <div><img src="/assets/img/app/icons/connection.png" style="width: 340px; margin: 67px 0 20px;"></div>
                        <div>{{server.title}} is not responding!</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <back-top></back-top>

</main>

<div id="preloader" ng-show="!$pageFinishedLoading">
    <div></div>
</div>