<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">Edit {{title}} Path</h4>
    </div>
    <div class="modal-body">
        <p>Navigate the JSON tree and select a <i class="text-primary fa {{isLeaf ? 'fa-leaf' : 'fa-list'}}"></i> {{isLeaf ? 'leaf object' : 'collection (object or array)'}} to used.</p>
        <div js-tree="pathTreeConfig" ng-model="pathTreeData" tree-events-obj="pathTreeEventsObj"></div>
    </div>
    <div class="modal-footer">
        <ul class="btn-list pull-right">
            <li>
                <button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">
                    <i class="ion-android-cancel"></i>Cancel
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-success btn-with-icon" ng-click="update()">
                    <i class="ion-android-checkmark-circle"></i>Update Selection
                </button>
            </li>
        </ul>
    </div>
</div>