.value-view {
  font-size: 26px !important;
  color: #fff;
  height: 60px !important;
  text-align: center;
  padding: 19px;
}
.meter-refresh-warning {
  display: none;
  position: absolute;
  right: 22px;
  font-weight: bold;
  animation: blinker 1350ms linear infinite;
}
@keyframes blinker {
  50% { opacity: 0.3; }
}
.meter:hover .meter-refresh-warning {
  display: block;
}
.health-indicator {
  border-radius: 50%;
  width: 8px !important;
  height: 8px !important;
  margin: 6px 24px 2px 2px !important;
}